.form-—Åommon {
  width: 100%;
  max-width: 397px;
  padding: 15px;
  margin: auto;
}

.input-group input{
  border-top-right-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
}