.table>:not(caption)>*>*{
  background-color: transparent !important;
}
.table thead th{
  text-align: center;
  color: #052c65;
}
.table td, .table th{
  text-align: center;
}

.common-form{
  max-width: 397px;
  display: flex;
  flex-direction: column;


  input{
    width: 100% !important;
  }
}