.dashboard{


  .dashboard-tab {
    gap: 20px;
    display: flex;

    .nav-link.active {
      background-color: #6C757D ;
      color: white ;
    }
    .nav-link:hover {
      background-color: #6C757D !important;
      color: white !important;
    }
    .nav-link{
      color: #6C757D ;
      border: 1px solid #6C757D;
    }
  }

  .date-input {
    border: none;
    background-color: transparent;
  }

  .card {
    background-color: transparent !important;
    box-shadow: none;

    .card-header {
      background-color: transparent !important;
      color: #290661;
      border-bottom: none;
      font-weight: 500;
      font-size: 2rem;
      padding-bottom: 0;
      padding-top: 0;
    }
  }
  label{
    margin-bottom: 0;
  }

}
