@import "./auth.css";


body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  height: 100%;
  background-color: #F5F5F5;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

h1{
  color: #052C65 !important;
}

.bg-gray{
  background-color: #D9D9D9;
}
.color-blue{
  color: #0D6EFD;
}