@import "./auth.css";


body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  height: 100%;
  background-color: #F5F5F5;
  overflow-x: hidden;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

h1{
  color: #052C65 !important;
}

.nav-pills .nav-link{
  color: black ;
}

.bg-gray{
  background-color: #D9D9D9;
}

.color-blue{
  color: #0D6EFD;
}

.nav-item.active > a{
  background-color: #0D6EFD;
  color: #FFF;
}

.nav-item.active button{
  background-color: #0D6EFD;
  color: #FFF;
}
.nav-item.active button svg path{
  fill: white;
}

.btn:hover svg path{
  fill: white;
}
.content-wrapper{
  margin-top: 100px;
  /*margin-left: 60px;*/
  margin-left: 0 !important;
}
.content-title{
  margin-bottom: 40px !important;
}
.btn-toggle-nav a{
  margin-left: 0 !important;
  padding: 8px !important;
  width: 100% !important;
  font-size: 14px;
}


.button-dropdown:not(.collapsed) {
  background-color: #0D6EFD;
  color: #FFF;
}
/*.button-dropdown.active{*/
/*  background-color: #0D6EFD;*/
/*  color: #FFF;*/
/*}*/
.button-dropdown:not(.collapsed) svg path{
  fill: white;
}

.button-dropdown:not(.collapsed) svg{
  transform: rotate(90deg);
}