html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-—Åommon {
  width: 100%;
  max-width: 397px;
  padding: 15px;
  margin: auto;
}
/*.form-signin .checkbox {*/
/*  font-weight: 400;*/
/*}*/
/*.form-signin .form-control {*/
/*  position: relative;*/
/*  box-sizing: border-box;*/
/*  height: auto;*/
/*  padding: 10px;*/
/*  font-size: 16px;*/
/*}*/
/*.form-signin .form-control:focus {*/
/*  z-index: 2;*/
/*}*/
.input-group input{
  border-top-right-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
}