  <script src="../../webpack.config.js"></script>
  <header>
    <div class="header d-flex justify-content-between align-items-center d-md-none">
      <img class="ms-3" src="/images/logo.svg" alt="" width="98px" height="40px">

      <button id="burger" class="btn btn-primary d-md-none m-2 bg-transparent border-0" type="button">
        <i class="bi bi-list color-dark-blue"></i>
      </button>
    </div>
  </header>
  <main class="d-flex flex-nowrap">

    <aside class="common-sidebar d-flex flex-column flex-shrink-0 pb-3"      >
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 text-decoration-none pt-4 p-3" >
        <img class=" mx-auto" src="/images/logo.svg" alt="" width="98px" height="40px" >
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto pt-5 p-3">
        <li class="nav-item mb-1 ">
          <a href="/" class="d-flex align-content-center gap-2 nav-link" aria-current="page">
            <i class="bi bi-house"></i>
            Главная
          </a>
        </li>
        <li class="nav-item mb-1">
          <a href="/common" class="d-flex align-content-center gap-2 nav-link link-dark">
            <i class="bi bi-cash-coin"></i>
            Доходы & Расходы
          </a>
        </li>
        <li class="nav-item mb-1">
          <button id="toggle-btn" class="button-dropdown w-100 d-flex align-content-center justify-content-between btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
            Категории
            <svg width="7" height="13" viewBox="0 0 7 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0.146894 12.8546C0.0528521 12.7608 0 12.6335 0 12.5006C0 12.3678 0.0528521 12.2404 0.146894 12.1466L5.79389 6.50064L0.146894 0.854643C0.0204218 0.72817 -0.0289712 0.543834 0.0173208 0.37107C0.0636128 0.198306 0.198557 0.0633621 0.371321 0.0170698C0.544085 -0.0292225 0.728422 0.0201702 0.854894 0.146643L6.85489 6.14664C6.94894 6.24045 7.00179 6.36782 7.00179 6.50064C7.00179 6.63347 6.94894 6.76084 6.85489 6.85464L0.854894 12.8546C0.76109 12.9487 0.633721 13.0015 0.500894 13.0015C0.368066 13.0015 0.240698 12.9487 0.146894 12.8546Z" fill="#052C65"/>
            </svg>

          </button>
          <div class="collapse" id="dashboard-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="/income" class="nav-link link-dark rounded">Доходы</a></li>
              <li><a href="/expenses" class="nav-link link-dark rounded">Расходы</a></li>
            </ul>
          </div>
        </li>
      </ul>

      <div class="ms-3">
        <div class="d-flex align-items-center">Баланс: <div class="color-blue d-flex align-items-center ms-2"> <div id="balance"></div> $</div></div>
      </div>
      <hr>
      <div class="ms-3">

        <div class="button-logout-container">

          <div class="button-logout-wrapper">
            <button type="button" id="logout-btn" class="button-logout">
              Выйти
            </button>
          </div>

          <a href="#" class="link-dark text-decoration-none d-flex align-items-center">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong id="full-name">Ivan Ivanov</strong>
          </a>

        </div>

      </div>
    </aside>
    <div id="overlay" class="sidebar-overlay"></div>

    <div class="content-wrapper">

      <section class="content-header">
        <div class="container-fluid">
          <h1 class="content-title" id="title-page">

          </h1>
        </div>
      </section>


      <div class="content" id="content-layout">

      </div>

    </div>

  </main>


