<div class="expenses-add">
  <div class="container-fluid">
    <form class="col-12 needs-validation" novalidate id="expenses-add-form">

      <input type="text" class="form-control rounded-3" id="expenses-name" placeholder="Название..." required="">
      <div class="invalid-feedback">
        Введите название
      </div>

      <div class="mt-3 d-flex gap-3">
        <button type="button" class="btn btn-success" id="expenses-add">Сохранить</button>
        <a href="/expenses" type="button" class="btn btn-danger" id="expenses-cancel">Отмена</a>
      </div>
    </form>
  </div>
</div>
