@import "styles/auth.css";


body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  height: 100%;
  background-color: #F5F5F5;
  overflow-x: hidden;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;

}

h1{
  color: #052C65 !important;
}

.header{
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 998;
}

.sidebar-overlay.active {
  opacity: 1;
  visibility: visible;
}

.noscroll {
  overflow: hidden;
}

.nav-pills .nav-link{
  color: black ;
}

.bg-gray{
  background-color: #D9D9D9;
}

.color-blue{
  color: #0D6EFD;
}
.color-dark-blue{
  color: #290661;
}

.nav-item.active > a{
  background-color: #0D6EFD;
  color: #FFF !important;
}

.nav-item.active button{
  background-color: #0D6EFD;
  color: #FFF;
}
.nav-item.active button svg path{
  fill: white;
}

.btn:hover svg path{
  fill: white;
}


.content-wrapper{
  width: 100%;
  margin-top: 100px;
  /*margin-left: 60px;*/
  margin-left: 0 !important;
  height: 100% !important;
  min-height: unset !important;
}
.content-title{
  margin-bottom: 40px !important;
}
.btn-toggle-nav a{
  margin-left: 0 !important;
  padding: 8px !important;
  width: 100% !important;
  font-size: 14px;
}


.button-dropdown:not(.collapsed) {
  background-color: #0D6EFD;
  color: #FFF;
}

.button-dropdown:not(.collapsed) svg path{
  fill: white;
}

.button-dropdown:not(.collapsed) svg{
  transform: rotate(90deg);
}

form{
  width: 100%!important;
  max-width: 397px !important;
}

.common-card{
  border: 1px solid #CED4DA;
  border-radius: 12px;
  max-width: 352px;
  width: 100%;
  height: 116px;
}
.common-card-title{
  color: #052C65;
  font-weight: 500;
}


@media screen and (max-width: 768px){
  .content-wrapper{
    margin-top: 40px;
  }
}