<div class="dashboard">
  <div class="container-fluid">

    <div class="dashboard row align-items-center gap-3 mb-5">
      <div class="col-12 col-md-auto">
        <ul class="nav nav-pills dashboard-tab">
          <li class="nav-item">
            <button type="button" class="nav-link" data-period="today">
              Сегодня
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link" data-period="week">
              Неделя
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link" data-period="month">
              Месяц
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link" data-period="year">
              Год
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link active" data-period="all">
              Все
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link" data-period="interval">
              Интервал
            </button>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md d-flex">
        <form class="d-flex flex-nowrap gap-4">

          <div class="d-flex align-items-center gap-2">
            <label for="input-from" class="mb-0">с</label>
            <input type="date" id="input-from" class="form-control bg-transparent border-0" style="width:130px" placeholder="Дата">
          </div>

          <div class="d-flex align-items-center gap-2">
            <label for="input-to" class="mb-0">по</label>
            <input type="date" id="input-to" class="form-control bg-transparent border-0" style="width:130px" placeholder="Дата">
          </div>


        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card card-danger">
          <div class="card-header">
            <div class="text-center">Доходы</div>
          </div>
          <div class="card-body">
            <canvas id="pieChart" style="min-height: 250px; height: 360px; max-height: 467px; max-width: 100%;"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-danger">
          <div class="card-header">
            <div class="text-center">Расходы</div>
          </div>
          <div class="card-body">
            <canvas id="pieChart2" style="min-height: 250px; height:360px; max-height: 467px; max-width: 100%;"></canvas>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

